ABOUT-NLS
Doxyfile
doxygen-doc/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/*
autom4te.cache/output.*
autom4te.cache/requests
autom4te.cache/traces.*
bin/
compile
config.guess
config.h
config.h.i
config.h.*
config.h.in~
config.log
config.rpath
config.status
config.sub
configure
configure~
depcomp
install-sh
m4/*.m4
missing
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/Makefile.in.in~
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
po/ru.gmo
po/stamp-it
share/*
src/.deps/
src/Makefile
src/Makefile.in
src/guess
stamp-h1
man1
